page-home {
    #notifications-badge {
        background-color: red;
        position: absolute;
        top: 1px;
        right: 0px;
        // border-radius: 70%;
        font-size: 10px;
    }
    #map {
        height: 100%;
    }
}
