<ion-list>
    
  <ion-item-sliding *ngFor="let notification of notificationsObj">
    <ion-item (click)="itemSelected()">
      <ion-avatar item-start>
        <img [src]="notification.url">
      </ion-avatar>
      <h2>{{ notification.name }}</h2>
      <p>{{ notification.desc }}</p>
    </ion-item>
    <ion-item-options>
      <button ion-button color="danger" icon-start>
        <ion-icon name="trash"></ion-icon>
        Delete
      </button>
    </ion-item-options>
  </ion-item-sliding>

</ion-list>
    
